body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    padding-top: 66px
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  
  }
  
  .logo-img{
    background-image: url('./assets/moki_logo.svg');
    background-size: contain;
    width: 100px;
    height: 42px;
  }
  
  .logo-div{
    width: 100%;
    height : 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .login-page{
    width: 100vw;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .input-div{
    width: 100%;
    height : 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login-desc{
    width: 70%;
    height: 50%;
  }
  
  .login-input{
    width: 70%;
    height: 50%;
  }
  .login-input-img{
    border: none;
    width: 100%;
    height: 100%;
    font-size:larger;
    border-bottom: 2px solid #ccc;
  }
  .button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 42px;
    margin-inline: 30%;
    min-height: 42px;
    margin-top: 100px;
    margin-bottom: 40px;
    
    
  }
  .button{
    width: 100%;
    height: 100%;
    min-height: 42px;
    border-radius: 25px;
    border: 1px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
  }
  
  .button#black{
    background-color: black;
    color: white;
  }
  .button#transparent{
    background-color: transparent;
    color:#717171;
    border-color:#E1E1E1 ;
    border-style:solid;
  }

  .login-msg{
    color: #FF4C77;
  }

  .header-class{
    position: fixed;
    display: grid;
    grid-template-columns: 66px calc(100% - 132px) 66px;
    top: 0%;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: #fdfdfd;
    border: #ccc;
    z-index: 1;
  }

  .header-button{
    background-color: transparent;
    background-image: url('./assets/bars.png');
    background-size: 50px 50px;
    background-position: center;
    background-repeat:no-repeat;
    border: none;
  }
  .header-button#Navbar{
    background-image: url('./assets/bars.png');
  }
  .header-button#Calendar{
    background-image: url('./assets/calendar-alt.png');
  }
  .header-desc{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .report-component{
    display: block;
    width: 90%;
    /* height : 300px; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom:40px;
    border: #F3F4F6;
    border-style:solid;
  }
  
  .report-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 24px ;

  }
  .report-title__div{
    display: flex;
    justify-content:space-between;
    width: 100%;
  }
  .report-title__benefit{
    display: flex;
  }
  .today-desc__day{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 27px;
    font-size: 16px;
    background-color: red;
    background-size:cover;
    border-radius: 25px;
    height: 26px;
    width: 70px;
    
    color: white;
    
  }
  
  .today-img{
    width:100%;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .today-img__img{
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('./assets/congratulation.png');
    background-size: 180px 180px;
    background-position: center;
    background-repeat:no-repeat;
  }
  .today-img__img#clapping{
    background-image: url('./assets/clapping.gif');
  }
  .today-img__img#cheer-up{
    background-image: url('./assets/cheerup.gif');
  }
  .today-cmp{
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .today-cmp__date-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .today-cmp__sales-div{
    display: flex;
  }
  .today-cmp__sales{
    width: 45%;
  }
  .today-cmp__date{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-inline: 20px;
    height: 28px;
    width: 62px;
    background-color: #D7E9FF;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: 600;
    color: #1881FC;
    border-radius: 25px;
  }
  .today-cmp__benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
  }
  .today-cmp__arrow{
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }
  .triangle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .triangle-quantity{
    display: flex;
    font-weight: 700;
    font-size: 18px;
  }
  .triangle-quantity#up{
    color:red;
  }
  .triangle-quantity#down{
    color:blue;
  }
  .triangle-quantity#same{
    color:grey;
  }
  
  .triangle-img{
    width : 35px;
    height: 20px;
    margin-right: 10px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }
  .triangle-img#same{
    background-image:url("./assets/triangle_same.png") ;
  }
  .triangle-img#up{
    background-image:url("./assets/triangle_up.png") ;
  }
  .triangle-img#down{
    background-image:url("./assets/triangle_down.png") ;
  }

  .price#underline{
    text-decoration: underline;
  }

  .report-page{
    display: block;
  }
  .chart{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    color: #717171;
  }
  .chart__data{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }
  .chart__data#highlight{
    color: #FF4C77;
    font-weight: 600 ;
  }
  
  
  .chart__element#bar{
    width: 70%;
    min-width: 40px;
    max-width: 52px;
    border-radius: 4px;
  }

  .chart__value{
    padding-block: 10px;
  }

  .chart__column{
    height: 42px;
    padding-block: 10px;
  }

  .predict__detail{
    font-size: medium;
    color:#717171;
    font-weight: 400;
  }

  .notice{
    font-size: small;
    font-weight: 400;
    color: #A9A9A9;
  }
  .report-component#best-menu{
    background-color: #F3F4F6;
  }
  .report-component#biggest-diff-menu{
    margin-bottom: 70px;
  }

  .best-menu{
    display: flex;
    justify-content: space-between;
    height: 200px;
    
  }
  .best-menu__first{
    width: 40%;
    padding: 3%;
    margin-inline: 2%;
    border-radius: 15px;
    /* height: 160px; */
    background-color: white;
  }
  .best-menu__second{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .best-menu__other{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    height: 35%;
    width: 100%;
    padding: 10px;
    background-position: center;
    background-color: white;
  }

  .best-menu__title{
    font-size: 15px;
    font-weight: 400;
    color:#717171;
  }

  .best-menu__benefits{
    font-size: 20px;
    font-weight: 700;
  }
  .best-menu__benefits#best{
    font-size: 20px;
    font-weight: 700;
    color: #FF4C77;
  }
  .best-menu__img-div{
    margin-block: 10px;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-menu__img{
    alt: "image down";
    width: 105px;
    height: 105px;
    border-radius: 15px;
    background-size: cover;
    
  }

  .diff{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
  }

  .diff-desc{
    display: flex;
    width: 155px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .diff-desc__title{
    font-size: 18px;
    font-weight: 500;
    line-height: 22.46px;
    text-align: center;
   
  }
  .diff-desc__percent{
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    text-align: left;
  
  }


  .diff-img{
    height: 140px;
    width: 140px;
    background-size: cover;
    border-radius: 15px;
  }

  .bottom-nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    bottom: 0px; 
    width: 100%;
    left: 0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -4px 10px 0px #0000000D;
    border-bottom: none;
    
  }
  .botton-nav__button{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: black;


  }

  .report-component#best-rank{

  }

  .best-rank__goback{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.95px;
    text-align: left;
  }

  .best-rank__column-info{
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.72px;
    text-align: left;
    color : #717171;
  }
  .best-rank__table{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .best-rank__column{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid var(--gray-text-neutral-500, #717171);
  }
  #rank__rank{
    width: 10%;
  }
  #rank__diff{
    width: 20%;
  }
  #rank__menu-info{
    width: 35%;
  }
  #rank__profit{
    width: 35%;
  }
  #rank__last-profit{
    width: 20%;
  }

  .best-rank__each{
    height: 80px;
    width: 100%;
    display: flex;
  }
  .best-rank__each#even{
    background-color: #F3F4F6;
  }
  
  .best-rank__row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .best-rank__row#rank__rank{
    font-size: 15px;
    font-weight: 700;
    line-height: 18.72px;
    text-align: left;
  }

  .best-rank__row#rank__menu-info{
    display: block;
  }

  .best-rank__row__menu{
    font-size: 15px;  
    font-weight: 500;
    line-height: 18.72px;
    text-align: left;
    color:#717171;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
  }
  .best-rank__row__sales{
    font-size: 20px;
    font-weight: 700;
    line-height: 24.96px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
  .best-rank__row#rank__profit{
    font-size: 20px;
    font-weight: 700;
    line-height: 24.96px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-rank__notice{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
  }
  .best-rank__button{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .best-rank__row#rank__last-profit{
    font-size: 14px;
    font-weight: 400;
    line-height: 19.97px;
    text-align: center;
    color : #717171


  }
  .best-rank__each-button{
    margin-inline: 10px;
    width: 108px;
    height: 38px;
    font-size: 16px;

  }